<LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} as |layers|>

  <layers.tile
    @url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
  />

  {{#each @geopoints as |point|}}
    <layers.marker @lat={{point.latitude}} @lng={{point.longitude}} as |marker|>
      <marker.popup>
        <h2>{{point.signs.label}}
          ({{point.latitude}},{{point.longitude}})</h2>
        <img width="48" height="48" src={{point.signs.image}} />
      </marker.popup>
    </layers.marker>
  {{/each}}

</LeafletMap>