<LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} as |layers|>

  <layers.tile
    @url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
  />

  {{#each @vacLocation as |item|}}
    <layers.marker @lat={{item.lat}} @lng={{item.long}} as |marker|>
      <marker.popup>
        <h3>{{item.sign.label}}</h3>
        <img src={{item.sign.image}} />
      </marker.popup>
    </layers.marker>
  {{/each}}

</LeafletMap>
